<mat-card class="form-container">
    <form [formGroup]="productoForm" (submit)="operate()">
        <div [hidden]="true">
            <mat-form-field class="form-group">
                <mat-label>ID Producto</mat-label>
                <input matInput type="number" formControlName="idProducto">
            </mat-form-field>
        </div>
        <mat-form-field class="form-group">
            <mat-label>Descripción</mat-label>
            <input matInput type="text" formControlName="descripcion">
        </mat-form-field>
        <mat-form-field class="form-group">
            <mat-label>Modelo</mat-label>
            <input matInput type="text" formControlName="modelo">
        </mat-form-field>
        <mat-form-field class="form-group">
            <mat-label>Código</mat-label>
            <input matInput type="text" formControlName="code">
        </mat-form-field>
        <mat-form-field class="form-group">
            <mat-label>URL Imagen</mat-label>
            <input matInput type="text" formControlName="urlImage">
        </mat-form-field>
        <mat-form-field class="form-group">
            <mat-label>Precio de Compra</mat-label>
            <input matInput type="number" formControlName="precioCompra">
        </mat-form-field>
        <mat-form-field class="form-group">
            <mat-label>Precio de Venta</mat-label>
            <input matInput type="number" formControlName="precioVenta">
        </mat-form-field>
        <mat-form-field class="form-group">
            <mat-label>Utilidad</mat-label>
            <input matInput type="number" formControlName="utilidad">
        </mat-form-field>
        <mat-form-field class="form-group">
            <mat-label>Margen de Utilidad</mat-label>
            <input matInput type="number" formControlName="margenUtilidad">
        </mat-form-field>
        <mat-form-field class="form-group">
            <mat-label>Estado</mat-label>
            <input matInput type="number" formControlName="estado">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoria">
              @for (cat of categorias; track cat) {
                <mat-option [value]="cat.idCategoria">{{cat.descripcion}}</mat-option>
              }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Marca</mat-label>
            <mat-select formControlName="marca">
              @for (marca of marcas; track marca) {
                <mat-option [value]="marca.idMarca">{{marca.descripcion}}</mat-option>
              }
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Unidad de Medida</mat-label>
            <mat-select formControlName="unidadMedida">
                @for (um of unidadMedidas; track um) {
                <mat-option [value]="um.idUnidadMedida">{{um.abreviatura}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
            
        <!-- <mat-form-field>
            <mat-label>Unidad de Medida</mat-label>
            <mat-select formControlName="unidadMedida"> 
                <mat-option *ngFor="let um of unidadMedidas" [value]="um">{{um.abreviatura}}</mat-option>
            </mat-select>
        </mat-form-field> -->

        <button mat-button color="primary" type="submit">
            <mat-icon>done</mat-icon>
            <span>Guardar</span>
        </button>
    
        <button mat-button color="accent" type="button" routerLink="/pages/producto">
            <mat-icon>cancel</mat-icon>
            <span>Cancel</span>
        </button>
    </form>
</mat-card>